# document index files are too big to store in github
src/indexes/
# keep test scripts and output locally
src/test.*
src/status.txt
# compiled Python files cause merge issues
*.pyc
# ignore swap files
*.swp
# ignore converted AQUAINT2 corpus
src/converted_AQUAINT2/
